# 文件名: docker-compose.v13.12.yml
version: '3.9'

services:
  gitlab:
    image: gitlab/gitlab-ce:13.12.15-ce.0  # <-- 升级到 v13 最后一个版本
    container_name: gitlab-v13.12     # <-- 更新容器名以反映新版本
    restart: always
    hostname: 'localhost'
    ports:
      - "8080:80"
      - "8443:443"
      - "2222:22"
    volumes:
      - gitlab-data:/var/opt/gitlab    # <-- 保持与原来一样
      - gitlab-config:/etc/gitlab    # <-- 保持与原来一样
      - gitlab-logs:/var/log/gitlab    # <-- 保持与原来一样
    shm_size: '256m'

volumes:
  gitlab-data:
    external: true
    name: epoch_migrate_gitlab-data
  gitlab-config:
    external: true
    name: epoch_migrate_gitlab-config
  gitlab-logs:
    external: true
    name: epoch_migrate_gitlab-logs