# 文件名: docker-compose.v12.10.yml
version: '3.9'

services:
  gitlab:
    image: gitlab/gitlab-ce:12.10.14-ce.0  # <-- 更改了版本
    container_name: gitlab-v12.10     # <-- 更改了容器名
    restart: always
    hostname: 'localhost'
    ports:
      - "8080:80"
      - "8443:443"
      - "2222:22"
    volumes:
      - gitlab-data:/var/opt/gitlab    # <-- 必须和原来一样
      - gitlab-config:/etc/gitlab    # <-- 必须和原来一样
      - gitlab-logs:/var/log/gitlab    # <-- 必须和原来一样
    shm_size: '256m'

volumes:
  gitlab-data:
    external: true  # <-- 标记为 'external' 确保它使用现有的卷
    name: epoch_migrate_gitlab-data
  gitlab-config:
    external: true
    name: epoch_migrate_gitlab-config
  gitlab-logs:
    external: true
    name: epoch_migrate_gitlab-logs